[submodule "Generation_distributions"]
	path = Generation_distributions
	url = https://github.com/dushoff/Generation_distributions.git
[submodule "link_calculations"]
	path = link_calculations
	url = https://github.com/dushoff/link_calculations.git
	branch = master
